<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增成员</title>
</head>
<body>
<h1 align="center">学生信息录入</h1>
<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<div id="app">
    <div style="border: 1px solid black;width: 850px;position:absolute; top:25%;left:35%; margin-top:-100px; margin-left:-200px;">
    <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="学号">
            <el-input v-model="form.sid"></el-input>
        </el-form-item>
        <el-form-item label="姓名">
            <el-input v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item label="初始密码">
            <el-input v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item label="年龄">
            <el-input v-model="form.age"></el-input>
        </el-form-item>
        <el-form-item label="性别">
            <el-radio-group v-model="form.gender">
                <el-radio label="男"></el-radio>
                <el-radio label="女"></el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="年级">
            <el-select v-model="form.grade" placeholder="请选择所在年级">
                <el-option label="2018" value="2018"></el-option>
                <el-option label="2019" value="2019"></el-option>
                <el-option label="2020" value="2020"></el-option>
                <el-option label="2021" value="2021"></el-option>
                <el-option label="2022" value="2022"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="专业">
            <el-input v-model="form.major"></el-input>
        </el-form-item>
        <el-form-item label="职位">
        <el-select v-model="form.position" placeholder="请选择活动职位">
            <el-option label="班长" value="班长"></el-option>
            <el-option label="团支部书记" value="团支部书记"></el-option>
            <el-option label="学习委员" value="学习委员"></el-option>
        </el-select>
        </el-form-item>
        <el-form-item label="手机号">
            <el-input v-model="form.phone"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">添加</el-button>
            <el-button>取消</el-button>
        </el-form-item>
    </el-form>
    </div>
</div>
<script>
    let app = new Vue({
        el:"#app",
        data() {
            return {
                form: {
                    sid:'',
                    username: '',
                    password:'',
                    gender:'',
                    grade:'',
                    major:'',
                    position:'',
                    age:'',
                    phone:''
                },
                flag:''
            }
        },
        methods: {
            onSubmit() {
                let params = new URLSearchParams();
                let url='http://localhost:8080/addStudent';
                params.append('sid',this.form.sid);
                params.append('username',this.form.username);
                params.append('password',this.form.password);
                params.append('gender',this.form.gender);
                params.append('grade',this.form.grade);
                params.append('major',this.form.major);
                params.append('position',this.form.position);
                params.append('age',this.form.age);
                params.append('phone',this.form.phone);
                let _this=this;
                axios.post(url,params,{headers:{
                        'C':'application/x-www-form-urlencoded'
                    }}
                ).then(function (resp){
                    _this.flag=resp.data;
                    if(_this.flag==1){
                        _this.$message({
                            type: 'success',
                            message: '添加成功!'
                        });
                        setTimeout(function(){window.open("http://localhost:8080/student.html","_self");},1000);
                    }else{
                      alert("服务器繁忙")
                    }
                })
            }
        }
    })
</script>
</body>
</html>