<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.managementdemo01.mapper.StudentMapper">


    <update id="updateStudent">
        update student set username=#{username},password=#{password},gender=#{gender},grade=#{grade},major=#{major},position=#{position},age=#{age},phone=#{phone}
        where sid=#{sid};
    </update>
    <delete id="deleteStudent">
        delete from student where sid=#{sid};
    </delete>

    <select id="selectAll" resultType="com.example.managementdemo01.pojo.Student">
        select * from student;
    </select>
    <select id="selectById" resultType="com.example.managementdemo01.pojo.Student">
        select * from student where sid=#{sid};
    </select>
    <select id="selectByConditions" resultType="com.example.managementdemo01.pojo.Student">
        select * from student
        <where>
            <if test="username!=null and username!=''">
                and username like #{username}
            </if>
            <if test="gender!=null and gender!=''">
               and gender=#{gender}
            </if>
            <if test="major!=null and major!=''">
                and major=#{major}
            </if>
            <if test="position!=null and position!=''">
                and position=#{position}
            </if>
            <if test="grade!=null and grade!=''">
                and grade=#{grade}
            </if>
            <if test="age!=null">
                and age=#{age}
            </if>
            <if test="phone!=null and phone!=''">
                and phone like #{phone}
            </if>
        </where>
    </select>
    <select id="loginStudent" resultType="java.lang.Integer">
        select * from student
        where username=#{username} and password=#{password};
    </select>
    <select id="assessment" resultType="com.example.managementdemo01.pojo.Student">
        select count,username from student order by count desc limit 5;
    </select>

    <insert id="addStudent">
        insert into student (sid, username, password, gender, grade,major,position,age, phone, count)
        values (#{sid},#{username},#{password},#{gender},#{grade},#{major},#{position},#{age},#{phone},#{count});
    </insert>
</mapper>